/* 外层包裹容器的样式 */
div#wrapper {    
    width:                 100%;                                 /* 宽度为100% */
    overflow:              hidden;                               /* 隐藏超出其容器的内容 */
}   
  
/* #caption 样式 */  
div#caption {  
    width:                 800px;                                 /* 宽度为800px */
    position:              absolute;                              /* 绝对定位 */
    right:                 0;  
    margin:                3% 30px;                               /* 设置外边距 */
    text-align:            right;                                 /* 设置右对齐 */   
}   
  
/* 设置caption中的h2标签的字体样式和颜色 */  
div#caption h2 {  
    font-family:           华文行楷;                               /* 字体为华文行楷 */  
    font-size:             2em;                                   /* 字体大小为2em */  
    font-style:            italic;                                /* 字体样式为斜体 */  
    font-weight:           bold;                                  /* 字体粗细为粗体 */  
    color:               rgb(11, 153, 215);                     /* 字体颜色为rgb(11, 153, 215) */  
}  
  
/* #travel-diary 样式 */  
div#travel-diary {    
    position:              relative;                              /* 相对定位 */    
    height:                600px;  
    width:                 calc(19% * 6);                         /* 宽度为6个19%的div的总宽度 */
    display:               flex;                                  /* 设置为弹性容器 */       
    flex-direction:        row;                                   /* flex子项水平排列 */  
    align-items:           flex-start;                            /* 垂直方向上的对齐方式为顶部对齐 */  
    transition:            all 0.3s ease;                         /* 所有属性的过渡效果，持续0.3秒，缓动函数为ease */  
    margin:                8% 10%;                                /* 外边距 */
}    
  
/* 旅行日志条目的样式 */  
div.travel-entry {    
    position:              relative;                              /* 相对定位 */    
    width:                 19%;
    height:                850px;  
    background-size:       cover;                                 /* 背景图片完全覆盖容器 */  
    background-position:   center;                                /* 背景图片居中显示 */  
    margin-left:           -120px;                                /* 左侧外边距为负值，实现堆叠效果 */  
    padding:               20px;   
    box-sizing:            border-box;                            /* 边框和内边距包含在宽度内 */  
    color:               white;                                 /* 文本颜色为白色 */  
    text-shadow:           2px 2px 4px rgba(0, 0, 0, 0.5);      /* 文本阴影 */  
    transition:            transform 0.3s ease;                   /* 变换过渡效果 */  
    cursor:                pointer;                               /* 鼠标悬停时显示手形图标 */  
    z-index:               1;                                     /* z轴堆叠顺序 */  
    border:                none;    
    border-radius:         10px;                                  /* 边框圆角 */  
    box-shadow:            0 15px 30px rgba(0, 0, 0, 0.2), 0 5px 15px rgba(0, 0, 0, 0.1); /* 盒子阴影 */  
}    
  
/* 为travel-entry添加伪元素:before，用于实现叠加的暗色背景效果 */  
div.travel-entry:before {    
    content:               '';    
    position:              absolute;                              /* 绝对定位 */   
    top:                   0;    
    left:                  0;    
    width:                 100%;    
    height:                100%;    
    background:          rgba(0, 0, 0, 0.2);                    /* 透明黑色背景 */  
    border-radius:         10px;                                  /* 圆角 */  
    z-index:               -1;                                    /* z轴堆叠顺序低于元素本身 */  
}  
  
/* 当鼠标悬停在 travel-entry 类的 div 上时的样式 */  
div.travel-entry:hover {     
    z-index:               2;                                     /* 提高 z-index 以确保元素在堆叠顺序中位于其他元素之上 */     
    box-shadow:            0 20px 40px rgba(0, 0, 0, 0.3), 0 10px 20px rgba(0, 0, 0, 0.2);  /* 添加更深的阴影效果，增加立体感 */ 
    transform:             translateX(120px) translateY(-5px);    /* 将元素水平向右移动 120px ,向上移动5px */
}    
  
/* 设置 travel-entry 类中的 h2 标签的样式 */  
div.travel-entry h2 {      
    font-size:             30px;                                  /* 字体大小为 30px */      
    margin-bottom:         15px;                                  /* h2 标签下方的外边距为 15px */    
}    
  
/* 设置 travel-entry 类中的 p 标签的样式 */  
div.travel-entry p {     
    font-size:             16px;                                  /* 字体大小为 16px */      
    line-height:           2em;                                   /* 行高为 2em */      
    text-indent:           2em;                                   /* 文本首行缩进 2em */  
}   
  
/* 为长沙设置样式 */  
div#changsha {     
    margin-left:           0;                                     /* 左侧外边距为 0，用于覆盖之前设置的负外边距，使得这个 div 不再堆叠 */       
    background-image:      url(./images/changsha.jpg);            /* 设置背景图片 */
}    
  
/* 为昆明的卡片设置样式 */  
div#kunming {   
    background-image:      url(./images/kunming.jpg);             /* 设置背景图片 */
}  

/* 为武汉的卡片设置样式 */ 
div#wuhan {
    background-image:      url(./images/wuhan.jpg);               /* 设置背景图片 */
}

/* 为恩施的卡片设置样式 */ 
div#enshi {
    background-image:      url(./images/enshi.jpg);               /* 设置背景图片 */
}

/* 为香格里拉的卡片设置样式 */ 
div#xianggelila {
    background-image:      url(./images/xianggelila.jpg);         /* 设置背景图片 */
}


/* 为西藏的卡片设置样式 */ 
div#xizang {
    background-image:      url(./images/xizang.jpg);              /* 设置背景图片 */
}